<footer>
 <section class="layout">
  <div style="margin-left:800px">
  <div class= "pixgrid"><img src="<%= appdata.Author.img %>" alt="Fuck you"></div><div style="margin-left:160px;margin-top:-120px">AVAILABLE     
  <%= appdata.meeting.date %></br> at <%= appdata.meeting.time %> always
  <%= appdata.meeting.where.name %> </br><%= appdata.meeting.where.address %></br></div></div>
   <div style="margin-top:-140px"><% include ../content/socialmedia.ejs %></div>
   <p class="footer-company-name">Copyright&copy2016. All Rights Reserved.</p>
   <p class="footer-company-motto">Designed By: Mr.NoBody(::)</p>
 </section><!-- layout >
</footer><!-- footer -->